{% if engine %}
    <section>
       <h1><a href="/engines">Engines</a> > {{ engine.name }} - Lorem Ipsum Generator</h1>
       <small>
         Published: {{ engine.pub_date }}
       </small>
       <hr />
       {% if generated_paragraphs is None %}
       <p>
           <h3>Sample of {{ engine.name }} Filler</h3>
           <small>{{ engine.sample }}</small>
       </p>
       {% endif %}
    </section>
    <section>
        <form action="">
            <label>Generate {{ engine.name }} Paragraphs</label>
            <input type="number" name="paragraph_count" value="{{ paragraph_count }}" />
            <button type="submit">Generate</button>
        </form>
    </section>
    {% if generated_paragraphs|length > 0 %}
        <section>
        {% for p in generated_paragraphs %}
            <p>
                {{ p }}
            </p>
        {% endfor %}
        </section>
    {% else %}
    {% endif %}
{% else %}
    <p>Engine not found.</p>
{% endif %}